    <div class="site-footer">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>About Two on the Road<span class="text-primary">.</span></h3>
                            <p>Due viaggiatori, infinite avventure! Condividiamo esperienze autentiche, consigli di viaggio e itinerari unici per chi ama esplorare il mondo in coppia. Scopri di più!</p>
                        </div>
                        <div class="widget">
                            <h3>Seguici altrove!</h3>
                            <ul class="list-unstyled social">
                                <li><a href="https://www.instagram.com/two.on.the.road_?igsh=MXZlaDlqMTYxYWd1Nw%3D%3D&utm_source=qr"><span class="icon-instagram"></span></a></li>
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 ml-auto">
                        <div class="widget">
                            <h3>Links</h3>
                            <ul class="list-unstyled float-left links">
                                <li><a href="{{ url_for('about') }}">About us</a></li>
                                <li><a href="{{ url_for('advices') }}">I nostri consigli</a></li>
                                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                <li><a href="{{ url_for('disclaimer') }}">Disclaimer</a></li>
                                <li><a href="{{ url_for('privacy_policy') }}">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h3>Contact</h3>
                            <ul class="list-unstyled links mb-4">
                                <li><a href="mailto:info@twoontheroad.it">info@twoonthetoad.it</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love and by sweat by <a href="https://www.instagram.com/fras.man/">Frasman</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>


        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/tiny-slider.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/aos.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/counter.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/rellax.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/flatpickr.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/glightbox.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/img-resizer.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/cookie-banner.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}" defer></script>



