{% extends "base.html" %}

{% block content %}
	<div class="hero overlay">
		<div class="img-bg rellax">
			<img src="static/assets/images/ala-aereo-tramonto.webp" alt="ala-aereo-tramonto" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6 mx-auto text-center">
					<h1 class="heading" data-aos="fade-up">Post in Bozza</h1>
					<p class="mb-4" data-aos="fade-up">Qui puoi trovare tutti i post che sono ancora in fase di bozza. Puoi modificarli o completarli in qualsiasi momento.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row align-items-stretch">
				{% for post in bozze %}
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
					<div class="media-entry">
						<a href="{{ url_for('edit_post', slug=post.slug) }}">
							<img src="{{ post.cover_image }}" alt="{{ post.title }}" class="blog-preview">
						</a>
						<div class="bg-white m-body">
							<span class="date">{{ post.date.strftime('%d/%m/%Y') }}</span>
							<h3><a href="{{ url_for('edit_post', slug=post.slug) }}"> {{ post.title }} </a></h3>
							<p> {{ post.subtitle }}</p>

							<a href="{{ url_for('edit_post', slug=post.slug) }}" class="more d-flex align-items-center float-start">
								<span class="label">Modifica</span>
								<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
							</a>
						</div>
					</div>
				</div>
				{% endfor %}

				{% if not bozze %}
					<p class="text-center">Non ci sono bozze al momento.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
